.aboutMeDiv {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  padding: 55px 100px 100px;
}

.aboutMeDiv .profile .aboutMeTitle {
  font-size: 26px;
  font-weight: bolder;
}

.aboutMeDiv .profile .personalInfo {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 42px;
}

.aboutMeDiv .profile .personalInfo .photo {
  display: table-cell;
  padding-right: 28px;
}

.aboutMeDiv .profile .personalInfo .photo .photoImg {
  width: 118px;
  height: 158px;
}

.aboutMeDiv .profile .personalInfo .myData {
  display: table-cell;
  padding-left: 2px;
  width: auto;
  vertical-align: top;
}

.aboutMeDiv .profile .personalInfo .myData .name {
  padding-right: 15px;
  color: #444;
  font-size: 22px;
  font-weight: bold;
}
.aboutMeDiv .profile .personalInfo .myData .birthday {
  font-size: 16px;
}

.aboutMeDiv .profile .personalInfo .myData .gender {
  padding-left: 15px;
}

.aboutMeDiv .profile .personalInfo .myData .myAddress {
  margin-top: 26px;
}

.aboutMeDiv .profile .personalInfo .myData .myAddress span {
  padding-right: 50px;
}

.aboutMeDiv .profile .personalInfo .myData .myAddress .address {
  width: 100%;
  margin-top: 10px;
}

.aboutMeDiv .profile .personalInfo .myData .strongPoint {
  position: relative;
  margin-top: 29px;
}

.aboutMeDiv .profile .personalInfo .myData .strongPoint strong {
  display: block;
  position: absolute;
}

.aboutMeDiv .profile .personalInfo .myData .strongPoint .strongPointList {
  padding-left: 80px;
  position: relative;
  white-space: pre-wrap;
}

.aboutMeDiv .profile .personalInfo .dashboard {
  width: 100%;
  border: 1px solid #eaeaea;
  margin-top: 35px;
  background-color: #f7f7f7;
}

.aboutMeDiv .profile .personalInfo .dashboard ul {
  display: table;
  width: 100%;
}

.aboutMeDiv .profile .personalInfo .dashboard ul li {
  display: table-cell;
  padding: 20px 0 26px;
  text-align: center;
  width: 20%;
}

.aboutMeDiv .profile .personalInfo .dashboard ul li strong,
.aboutMeDiv .profile .personalInfo .dashboard ul li p {
  font-size: 14px;
}

.aboutMeDiv .profile .personalInfo .dashboard ul li .dashbordDetail {
  margin-top: 12px;
}

.aboutMeDiv .school,
.aboutMeDiv .myself {
  margin-top: 50px;
}

.aboutMeDiv .school .schoolTitle,
.aboutMeDiv .myself .myselfTitle {
  font-size: 23px;
  font-weight: bold;
}

.aboutMeDiv .school .schoolBody table {
  border: 0;
  border-left: 1px solid #eaeaea;
  border-top: 3px solid #444;
  background-color: #fff;
  width: 100%;
  margin-top: 15px;
}

.aboutMeDiv .school .schoolBody table thead,
.aboutMeDiv .school .schoolBody table tbody {
  vertical-align: middle;
}

.aboutMeDiv .school .schoolBody table thead th {
  padding: 18px 0 20px 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  text-align: center;
  color: #444;
  font-size: 14px;
  vertical-align: middle;
  font-weight: bold;
}

.aboutMeDiv .school .schoolBody table tbody td {
  padding: 15px 5px 17px 5px;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  text-align: center;
  color: #444;
  font-size: 14px;
  vertical-align: middle;
}

.aboutMeDiv .myself .myselfBody {
  width: 100%;
  border-top: 3px solid black;
  margin-top: 10px;
  padding-top: 42px;
  padding-left: 20px;
  padding-right: 20px;
  white-space: pre-line;
}
